@media (max-width: 375px) {
    img {
        text-align: center;
        width: 400px;
        height: 500px;
        padding: 0px;
        position: fixed;
        
    }
}


@media (max-width: 720px) {
    img {
        text-align: center;
        width: 220px;
        height: 340px;
        padding: 15px;
        position: fixed;
        
    }
}

@media (max-width: 412px) {
    img {
        text-align: center;
        width: 420px;
        height: 640px;
        padding: 15px;
        position: fixed;
        
    }
}

@media (max-width: 820px) {
    img {
        text-align: center;
        width: 820px;
        height: 640px;
        padding: 0px;
        position: fixed;
        
    }
}

@media (max-width: 912px) {
    img {
        text-align: center;
        width: 820px;
        height: 640px;
        padding: 50px;
        position: fixed;
        
    }
}

@media (max-width: 1024px) {
    img {
        text-align: center;
        width: 820px;
        height: 640px;
        padding: 50px;
        position: fixed;
        
    }
}

@media (max-width: 1532px) {
    img {
        text-align: center;
        width: 920px;
        height: 740px;
        padding: 80px;
        position: fixed;
        
    }
}
